<a href="https://colab.research.google.com/github/dogar22/dogar22/blob/main/Peer_graded_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Exercise 2**
- Create a markdown cell with the title of the notebook. (1 pt)

**Peer_graded Assignment**

## **Introduction**
Welcome to this exercise! In this notebook, we will explore various concepts and techniques related to data analysis and machine learning.
This exercise is designed to help you practice and apply your skills in a structured manner. Let's get started!

# **Data Science Languages**
Here are some popular programming languages used in Data Science:

- **Python** üêç ‚Äì Most widely used for machine learning, data analysis, and AI.
- **R** üìä ‚Äì Excellent for statistical computing and visualization.
- **SQL** üíæ ‚Äì Essential for database queries and data manipulation.
- **Julia** üöÄ ‚Äì High-performance language for numerical computing.
- **Scala** üî• ‚Äì Used with Apache Spark for big data processing.
- **Java** ‚òï ‚Äì Often used in enterprise data science applications.

Each of these languages has its strengths, and choosing the right one depends on the project requirements!

# **Data Science Libraries**
Here are some of the most commonly used libraries in Data Science:

## **1. Python Libraries**
- **NumPy** ‚Äì For numerical computations and array operations.
- **Pandas** ‚Äì For data manipulation and analysis.
- **Matplotlib** ‚Äì For data visualization.
- **Seaborn** ‚Äì Enhances Matplotlib for statistical visualizations.
- **Scikit-learn** ‚Äì For machine learning algorithms.
- **TensorFlow** ‚Äì For deep learning and neural networks.
- **PyTorch** ‚Äì An alternative deep learning framework.
- **Statsmodels** ‚Äì For statistical modeling and hypothesis testing.

## **2. R Libraries**
- **ggplot2** ‚Äì For advanced data visualization.
- **dplyr** ‚Äì For data manipulation.
- **caret** ‚Äì For machine learning.
- **randomForest** ‚Äì For decision trees and ensemble learning.

## **3. Big Data & SQL Libraries**
- **Apache Spark (PySpark)** ‚Äì For large-scale data processing.
- **SQLAlchemy** ‚Äì For working with SQL databases.

These libraries provide powerful tools for data analysis, visualization, and machine learning!

# **Data Science Tools**

The table below lists some popular tools used in Data Science:

| **Tool Name**        | **Category**               | **Description** |
|----------------------|---------------------------|----------------|
| **Jupyter Notebook** | Interactive Computing     | Web-based notebook for coding and visualization. |
| **Google Colab**     | Cloud-Based Development   | Free cloud-based Jupyter notebook with GPU support. |
| **Apache Spark**     | Big Data Processing       | Distributed data processing framework. |
| **TensorFlow**       | Machine Learning          | Deep learning framework developed by Google. |
| **PyTorch**          | Machine Learning          | Deep learning framework developed by Facebook. |
| **Power BI**         | Data Visualization        | Business analytics tool for interactive reports. |
| **Tableau**         | Data Visualization        | Powerful tool for creating visual dashboards. |
| **SQL**             | Database Management       | Used for querying and managing structured data. |
| **GitHub**          | Version Control           | Platform for code hosting and collaboration. |

These tools play a crucial role in different stages of the **Data Science workflow**, from data collection to visualization and machine learning.

# **Arithmetic Expression Examples**  

Arithmetic expressions are mathematical expressions that use numbers and operators to perform calculations. The basic arithmetic operations include:

- **Addition (`+`)**: Combines two numbers.  
- **Subtraction (`-`)**: Finds the difference between two numbers.  
- **Multiplication (`*`)**: Multiplies two numbers.  
- **Division (`/`)**: Divides one number by another.  
- **Modulus (`%`)**: Finds the remainder of division.  
- **Exponentiation (`**`)**: Raises a number to a power.  

### **Examples**  
Here are some examples of arithmetic expressions:  

```python
# Addition
5 + 3  # Output: 8

# Subtraction
10 - 4  # Output: 6

# Multiplication
6 * 7  # Output: 42

# Division
20 / 4  # Output: 5.0

# Modulus
10 % 3  # Output: 1

# Exponentiation
2 ** 3  # Output: 8

In [1]:
# Multiply and Add Numbers

# Define numbers
a = 5
b = 3

# Perform multiplication
multiplication_result = a * b

# Perform addition
addition_result = a + b

# Print results
print(f"Multiplication of {a} and {b}: {multiplication_result}")
print(f"Addition of {a} and {b}: {addition_result}")

Multiplication of 5 and 3: 15
Addition of 5 and 3: 8

In [2]:
# Convert Minutes to Hours


minutes = 150

# Convert to hours
hours = minutes / 60

# Print the result
print(f"{minutes} minutes is equal to {hours:.2f} hours.")

150 minutes is equal to 2.50 hours.

# **Objectives**  

The following are the key objectives of this notebook:  

- **Understand Data Science Basics** ‚Äì Learn about essential tools, languages, and libraries.  
- **Practice Arithmetic Operations** ‚Äì Implement fundamental mathematical expressions in Python.  
- **Convert Time Units** ‚Äì Write code to convert minutes to hours.  
- **Enhance Markdown Usage** ‚Äì Learn how to structure text, lists, and tables effectively.  
- **Improve Problem-Solving Skills** ‚Äì Solve exercises related to data manipulation and calculations.  

These objectives will help in building a strong foundation in programming and data science! üöÄ

# **Author**  
**Name:** Muhammad Umar

**Date:** 03/17/2025  

This notebook was created by **Umar Dogar** as part of the exercises in Data Science.